<div class="row">

  <div class="col-sm-12">
    <div *ngIf="isError" class="alert alert-danger" role="alert">
      <h5>{{error}}</h5>
    </div>
    <div *ngIf="isNotError" class="alert alert-success" role="alert">
      <h5>{{mesagge}}</h5>
    </div>
  </div>
  
</div>
<div class="row">
  <hr>
  <div class="col-sm-4">
    <form #formLink = "ngForm" (ngSubmit) ="submitFormLink(formLink)" class="login100-form validate-form flex-sb flex-w">
      <span class="login100-form-title p-b-51">
        Link register
      </span>

                <span *ngIf="formLink.submitted && formLink.controls['protocolo'].errors" class="text-danger">Por favor elija el protocolo</span>
                <select class="input100  m-b-17" name="protocolo" [(ngModel)]="enlace.protocolo" >
                  <option value="https://">https: //</option>
                  <option value="http://">http: //</option>
                </select>

                <span *ngIf="formLink.submitted && formLink.controls['enlace'].errors" class="text-danger">Por favor ingrese un link</span>

                <div class="wrap-input100">
                    <input class="input100" 
                    type="text" 
                    name="enlace" 
                    required
                    [(ngModel)]="enlace.link"
                    placeholder="Facebook.com">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn mb-2" type="submit">
                      Guardar link
                    </button><br>
                    <button (click)="salir()" class="login100-form-btn btn-danger">Cerrar sessión</button>

                </div>

            </form>
            <hr>
  </div>
  <div class="col-sm-8">
    <span class="login100-form-title p-b-51">
      Registers
    </span>

    <table class="table overflow-auto">
      <thead>
        <tr>
          <th scope="col"class="tabla-form-title">Code</th>
          <th scope="col"class="tabla-form-title">New Url</th>
          <th scope="col"class="tabla-form-title">Visits</th>
          <th scope="col"class="tabla-form-title">Delete</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of links ">
          <td class="infotabla-form-title">{{item.codigo}}</td>
          <td  (click)="visitURL(item._id);" ><p class="infotabla-form-title" id="visita">{{item.enlaceCorto}} </p></td>
          <td class="infotabla-form-title">{{item.cantidadIngresos}}</td>
          <td class="infotabla-form-title"><button class="btn btn-danger" (click)="delete(item._id)">D</button></td>
        </tr>
       
      </tbody>
    </table>
  </div>
</div>