
<div class="row">
  <hr>
  <div class="col-sm-4">
    <form #formLink = "ngForm" (ngSubmit) ="submitFormLink(formLink)" class="login100-form validate-form flex-sb flex-w">
      <span class="login100-form-title p-b-51">
        Link register
      </span>

                <span *ngIf="formLink.submitted && formLink.controls['protocolo'].errors" class="text-danger">Por favor elija el protocolo</span>
                <select class="input100  m-b-17" name="protocolo" [(ngModel)]="enlace.protocolo" >
                  <option value="https://">https: //</option>
                  <option value="http://">http: //</option>
                </select>

                <span *ngIf="formLink.submitted && formLink.controls['enlace'].errors" class="text-danger">El link es obligatorio</span>

                <div class="wrap-input100">
                    <input class="input100" 
                    type="text" 
                    name="enlace" 
                    required
                    [(ngModel)]="enlace.link"
                    placeholder="Facebook.com">
                    <span class="focus-input100"></span>
                </div>
                
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                      Guardar link
                    </button>
                </div>

            </form>
            <hr>
            <div *ngIf="isError" class="alert alert-danger" role="alert">
                <h5>{{error}}</h5>
            </div>
    <!-- <button (click)="guardarLink()" class="btn btn-success">Guardar link</button> -->
  </div>
  <div class="col-sm-8">
    <span class="login100-form-title p-b-51">
      Registers
    </span>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="tabla-form-title">#</th>
          <th scope="col"class="tabla-form-title">Code</th>
          <th scope="col"class="tabla-form-title">Visits</th>
          <th scope="col"class="tabla-form-title">Url old</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="infotabla-form-title">1</th>
          <td class="infotabla-form-title">Mark</td>
          <td class="infotabla-form-title">Otto</td>
          <td class="infotabla-form-title">@mdo</td>
        </tr>
       
      </tbody>
    </table>
    <!-- <button (click)="salir()" class="btn btn-danger">Cerrar sessión</button> -->
  </div>
</div>